/* :root {
    --text-color: #757575;
    --acent-color: #2196F3;
    --title-color: #212121;
    --font-color: #FFFFFF;
    --button-acent: #188CE8;
    --button-background: #F5F4FA;
    --project-border: #EEEEEE;
    --logo-color-black: #000000;
    --footer-white-tranparent: rgba(255, 255, 255, 0.6);
    --background-grey-color: #2F303A;
    --transparent: transparent;
    --header-border-color: #ECECEC;
    --gradient-color: rgba(47, 48, 58, 0.4);
    --client-border-color: #AFB1B8;
    --overlay-bg-color: rgba(33, 150, 243, 0.9);
    --duration: 250ms;
    --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
    --exampl-bg: rgba(47, 48, 58, 0.8);
    --close-ic-border: rgba(0, 0, 0, 0.1);
} */

/* fonts */

/* body {
    font-family: 'Roboto', 'Helvetica Neue', 'Roboto', 'Verdana', 'Tahoma', sans-serif;
    color: var(--text-color);
    background-color: var(--font-color);
    font-size: 14px;
    letter-spacing: 0.03em;

} */
/* автосбросы отредактированы по рекомендации М. */
/* 
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

button {
    display: block;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
} */



/* C O N T A I N E R */
/* .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.container--flex {
    display: flex;
    align-items: center;
}

.container--align {
    align-items: baseline;
} */

/* S E C T I O N */
/* 
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section--padding {
    padding-top: 0;
}

.section--background {
    background-color: var(--button-background);
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);

    margin-bottom: 50px;
} */
/*  !!!!!!!!  H I D D E N     C O N T E N T  !!!!!!!!!  */
/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

/* header */
/* .header {
    border-bottom: 1px solid var(--header-border-color);
} */



/* LOGO */
/* .logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--logo-color-black);
}

.logo--inverse {
    color: var(--font-color);
}

.logo__span {
    color: var(--acent-color);
} */

/* nav - links */
/* 
.site-nav--margin {
    margin-left: 93px;
}

.list-nav--flex {
    display: flex;
}

.list-nav__item:not(:last-child) {
    margin-right: 50px;
}

.list-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--title-color);
    
    display: block;
    
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);
    
    position: relative;
} */

/* .list-nav__link:visited {
    color: var(--title-color);
} */

/* .list-nav__link:hover, 
.list-nav__link:focus {
    color: var(--acent-color);
}

.list-nav__link--active {
    color: var(--acent-color)
}

.list-nav__link--active::after {
    content: '';
    display: flex;
    
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;

    background: var(--acent-color);
    border-radius: 2px;
} */

/* header contact links */


/* 
.contact-list {
    display: flex;
    margin-left: auto;
}
.contact-list__item {
    display: flex;
}
.contact-list__item:not(:first-child) {
    margin-left: 50px;
}

.contact-list__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    
    display: flex;
    align-items: center; 
    
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);
} */
/* 
.contact-list__link:hover, 
.contact-list__link:focus {
    color: var(--acent-color);
}

.contact-list__icon {
    fill: currentColor;
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.contact-list__icon--size {
    width: 10px;
    height: 16px;
} */


/* main */
/* hero */
/* 
.hero {
    background-color: var(--background-grey-color);
    
    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;

}

.hero__title {
    font-style: normal;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    
    text-transform: uppercase;
    color: var(--font-color);
    
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 30px;
} */

/* button in hero */
/* 
.hero__button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--font-color);
    background: var(--acent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
   
    cursor: pointer;
    border: none;

    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;

    transition-property: background;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn); 
} */

/* .hero__button:hover, .hero__button:focus { */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    /* background: var(--button-acent); */
    /* border-color: var(--button-acent); */
/* 
} */

/* F E A T U R E S section */





/*  I C O N features */
/* .features-list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    display: flex;
    gap: 30px;
}

.features-list__icon{
    width: 270px;
    height: 120px;
    background-color: var(--button-background);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px
} */





/* .features-list__item:not(:last-child) {
    margin-right: 30px;
} */
/* 
.features-list__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);

    margin-bottom: 10px;
} */

/* E X A M P L E S section */





/* .examples-list {
    display: flex;
    gap: 30px;
} */

/* .examples-list__item:not(:last-child) {
    margin-right: 30px;
} */

/* .examples-list__thumb {
    position: relative;
    
} */

/* 
.examples-list__content {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: var(--font-color);
    

    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--exampl-bg);
} */

/*  T E A M   section */
/* 
.team-list {
    display: flex;
    gap: 30px
}

.team-list__item {
    background-color: var(--font-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
} */

/* .team-list-item:not(:last-child) {
    margin-right: 30px;
} */
/* .team-list__info {
    padding-top: 30px;
    padding-bottom: 30px; */
    /* padding-left: 32px;
    padding-right: 32px; */
/* } */
/* 
.team-list__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);

    margin-bottom: 10px;
}

.team-list__position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    
    margin-bottom: 16px;
} */



/* .social-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-list__item {
    width: 44px;
    height: 44px;
}

.social-list__link {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;

    transition-property: background-color, color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);
}

.social-list__link--color {
    color: var(--client-border-color);
}
.social-list__link--bgcolor {
    background-color: rgba(255, 255, 255, 0.1);
}

.social-list__link:hover,
.social-list__link:focus {
    background-color: var(--acent-color);
    color: var(--font-color);
}

.social-list__icon {
    fill: currentColor;
}

.social-list__icon--fill {
    fill: var(--font-color);
} */

/* ============ C L I E N T S ==============*/
/* .clients-list {
    display: flex;
    gap: 30px;
}

.clients-list__item {
    width: 170px;
    height: 92px;
}

.clients-list__link {
   color: var(--client-border-color);

   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;

   border: 1px solid var(--client-border-color);
   border-radius: 4px;

   transition-property: color, border;
   transition-duration: var(--duration);
   transition-timing-function: var(--timing-fn)
}

.clients-list__link:hover, 
.clients-list__link:focus {
    color: var(--acent-color);
    border: 1px solid currentColor;
}

.clients-list__icon {
    fill: currentColor;
} */

/* ===   ===   ===   F O O T E R   ===   ===   === */
/* .footer {
    background-color: var(--background-grey-color);
    padding-top: 60px;
    padding-bottom: 60px;
} */

/* .footer-blocks {
    display: flex;
    align-items: baseline;
} */

/* .address--margin {
    margin-top: 20px;
}

.address__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.address__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--font-color);

    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);
} */

/* .address-item:not(:first-child) {
    margin-top: 9px;
} */

/* .address__link:hover, 
.address__link:focus {
    color: var(--acent-color);
}

.address__contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--footer-white-tranparent);

    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);
}

.address__contact:hover, 
.faddress__contact:focus {
    color: var(--acent-color);
} */

/* 2nd block */
/* .social-block {
    margin-left: 70px;
}
.social-block__title {
    font-weight: 700;
    line-height: 0.87;
    text-transform: uppercase;
    
    color: var(--font-color);

    margin-bottom: 20px;
} */

/* FOOTER FORM */
/* .mailing-form {
    margin-left: auto;
}

.mailing-form__title {
    font-weight: 700;
    line-height: 0.87;
    text-transform: uppercase;
    
    color: var(--font-color);
}

.mailing-form__field {
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

.mailing-form__input {
    font-size: 16px;
    line-height: 1.25;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    
    padding: 15px 16px;
    width: 358px;
}

.mailing-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: var(--acent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    letter-spacing: 0.06em;
    
    color: var(--font-color);
    min-width: 200px;
    padding: 10px;

    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);
}

.mailing-form__button:hover,
.mailing-form__button:focus {
    background-color: var(--button-acent);
} */




/* =====MODAL WINDOW===== */
/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;

    transition-property: opacity, visibility;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
} */
/* 
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 581px;

    background-color: var(--font-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 40px;
}

.modal__button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    background-color: var(--font-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);
}
.modal__button:hover,
.modal__button:focus {
    color: var(--acent-color);
}
.modal__icon {
   fill: currentColor;    
} */

/* forms in modal */
/* .order-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-color);

    margin-bottom: 12px;
}

.order-form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
} */

/* .order-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.order-field__label {
    font-size: 12px;
    line-height: 1.16;    
    letter-spacing: 0.01em;
}

.order-field__wrapper {
    position: relative;
}

.order-field__wrapper:hover .order-field--selected {
    fill: var(--acent-color);
    border-color: var(--acent-color);   
}

.order-field__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    width: 100%;
    height: 40px;

    padding: 0 0 0 40px;

    transition-property: border-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);

} */

/* .input-wrapper:focus-within {
    outline: currentColor;
        border-color: var(--acent-color);
        fill: var(--acent-color);
} */
/* 
.order-field__input:focus {
    outline: transparent;
    border-color: var(--acent-color);
    fill: var(--acent-color);
}

.order-field__input:focus~.order-field__icon {
    fill: var(--acent-color);
}


.order-field__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    transition-property: fill;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);
}




.order-field__feedback {
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
    height: 120px;
    padding: 12px 16px;

    transition-property: border-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);
}

.order-field__feedback:focus,
.order-field__feedback:hover {
    border-color: var(--acent-color);
    outline: none;
}

.order-form__checkbox {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
}


.policy {
    display: flex;
    align-items: center;
    gap: 7px;
}

.policy__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    background-color: #fff;
    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);
}

.policy__checkbox:checked + .policy__svg {
    background-color: var(--acent-color);
    border-color: transparent;
  
}
.policy__svg {
    border: 2px solid var(--title-color);
    border-radius: 2px;
    background-color: var(--font-color);

    transition-property: background-color;
        transition-duration: var(--duration);
        transition-timing-function: var(--timing-fn);

} */

/* .checkbox-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--title-color);
    border-radius: 2px;
    width: 16px;
    height: 15px;
} */

/* .policy__link {
    text-decoration-line: underline;
    
    color: var(--acent-color);
}

.order-form__button {    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    min-width: 200px;
    
    color: var(--font-color);

    background-color: var(--acent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    margin: 0 auto;
    padding: 10px 10px;

    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);
}

.order-form__button:hover,
.order-form__button:focus {
    background-color: var(--button-acent)
} */







/*  P=====O=====R=====T=====F=====O=====L=====I=====O  */
/* .filter {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.filter__button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);

    background: var(--button-background);
    border-radius: 4px;
    border-color: var(--transparent);
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    Padding-right: 22px;
    border: none;

    transition-property: color, background, box-shadow;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);

} */

/* .button-item:not(:last-child) {
    margin-right: 8px;
} */

/* .filter__button:hover, 
.filter__button:focus {
    color: var(--font-color);
    background: var(--acent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* P R O J E C T   L I S T */

/* .projects-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
} */


/* .projects-list-item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 30px * 2) / 3);
}

.projects-list-item:nth-child(3n) {
    margin-right: 0;
}

.projects-list-item:nth-last-child(-n+3) {
    margin-bottom: 0;
} */

/* .project__link {
    display: block;

    transition-property: box-shadow;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);
   
}

.project__link:hover, 
.project__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__thumb {
    position: relative;
    overflow: hidden;
}

.project__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-bg-color);

    transform: translateY(101%);
    transition: transform var(--duration) var(--timing-fn);
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
    transform: translateY(0);
}

.project__overlay-content {
    padding: 60px 24px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--font-color);
}

.project__info {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid var(--project-border);
    border-right: 1px solid var(--project-border);
    border-bottom: 1px solid var(--project-border);
}

.project__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.project__type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: var(--text-color);

    margin-top: 4px;
} */








