.contact-list {
    display: flex;
    margin-left: auto;
}

.contact-list__item {
    display: flex;
}

.contact-list__item:not(:first-child) {
    margin-left: 50px;
}

.contact-list__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    /* выравниваем ссылку и иконку по центру */
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fn);
    &:hover,
    &:focus {
        color: var(--acent-color);
    }
}


.contact-list__icon {
    fill: currentColor;
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.contact-list__icon--size {
    width: 10px;
    height: 16px;
}