.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--logo-color-black);
}

.logo--inverse {
    color: var(--font-color);
}

.logo__span {
    color: var(--acent-color);
}